#Socials{
  margin: 0% 0% 5% 0%;
  width: 100%;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Socials h4 {
  font-size: 1.5em;
  color: rgb(122, 122, 233);
  width: 20%;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 3%;
}

#social-container {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }
  
.social-icons {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
.social-icons li {
    display: flex;
    margin: 0.5%;
    align-items: center;
    font-size: 2.5em;
  }
.social-icons i {
    color: #fff;
    position: absolute;
    transition: all 265ms ease-out;
  }
.social-icons a {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 2em;
    height: 2em;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, rgb(148, 148, 216), #ae31d9);
    transition: all 265ms ease-out;
  }
.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
.social-icons a:hover i {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    color: #7b00e0;
    background: linear-gradient(45deg, rgb(148, 148, 216), #ae31d9);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }
  
  @media only screen and (min-width: 375px) and (max-width: 450px) {
    #Socials {
    width: 90%;
  }

  #Socials h4 {
    font-size: 1.5em;
    width: 85%;
    margin: 40% 0 20% 0;
  }

  #Socials p {
    margin-top: 20%;
  }

  .social-icons li {
    font-size: 1.8em;
    margin: 1%;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1024px) {
  #Socials {
    width: 90%;
  }

  #Socials h4 {
    font-size: 1.8em;
    width: 80%;
    margin: 10% 0 10% 0;
  }

  #Socials p {
    margin: 10% 0 10% 0;
    font-size: 1.3em;
  }

  .social-icons li {
    font-size: 2.5em;
    margin: 0.5%;
  }
}