a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  color: rgb(148, 148, 216);
}